.box {
    background-color: #f7f8ff;
    height: 100vh;
    display: flex;
}

.sidebar {
    padding: 0;
    background-color: #2b6cb0;
    width: 300px;
    height: 100vh;
}

.sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    height: 50px;
    margin: 0;
    padding-top: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.row:hover {
    background-color: #2c5282;
    cursor: pointer;
}

.main-container {
    width: 100%;
}

.content-container {
    border: 3px solid black;
    height: 93vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-container {
    /* border: 3px solid black; */
    width: 50%;
    border: 3px solid black;

    height: 50vh;
    margin-left: 20px;
    margin-right: 20px;
}

.form {
    width: 100%;
}

.hour input {
    height: 50%;
}
