
/* .formPaper {
    width: 70%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
} */

.input {
    border: 2px solid #e0e4e5;
    outline: none;
    padding: 8px;
    height: 28px;
    width: 100%;
}

.input:focus,
.input:active {
    outline: 2px solid #1976d3;
}