.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.breadcrumbsContainer {
    width: 100%;
    height: 20%;
    display: flex;
    padding-left: 10%;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to left, #657bd1, #049fbb);
}


.contentBox {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 50%;
    gap: 5px;
    margin-top: 70px;
}

.content {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
}

.imageBox {
    grid-column: 2;
    border: 3px solid black;
}

.formContainer {
    min-width: 50%;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    margin-bottom: 30px;
    width: 50%;
}