/* src/FloatingButton.css */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    height: auto;
    border-radius: 10px ;
    background-color: #007bff;
    color: white;
    border: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .floating-button:hover {
    background-color: #0056b3;
  }
  