/* src/FloatingButton.css */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* .floating-button:hover {
    background-color: #0056b3;
     chỏ chuột vào thì đổi màu background
  } */
  