.slider-container {
    width: 80%;
    margin: 0 auto;

}

.slider-card {
    border: 1px solid gray;
    height: 350px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.card {
    border: 1px solid hs1(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hs1(0, 0%, 0%, 0,1);
    height: 300px;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
    max-width: 300px;
}

.card .card-image {
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.card .card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hs1(0, 0%, 20%);
}

.card .card-text {
    font-family: Arial, Helvetica, sans-serif;;
    color: hs1(0, 0%, 40%);
}
