.container {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #f8f9fa, #e0f7fa);
}

.bookingButtonHero {
    position: absolute;
    left: -510px;
    top: -200px;
    width: 20%;
    background-color: #007bff !important;
    color: white !important;
    padding: 15px 25px !important;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
}

.clinicHeader {
    width: 70%;
    margin-top: 1em;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.viewAllButton {
    background-color: "#1975dc";
    color: "#fff";
    border-radius: "5px";
    height: 60%;
}

.carousel {
    width: 80%;
    margin-top: 2em;
}

.faqContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqContent {
    width: 70%;
    margin-top: 2em;
}

.featuresAndBenefitsContainer {
    width: 100%;
    padding: 40px;
}