.slick-prev:before {
    top: -10px;
    position: absolute;
    font-size: 50px;
    right: 15px;
    color: #00558B;

}

.slick-next:before {
    top: -10px;
    position: absolute;
    font-size: 50px;
    left: 15px;
    color: #00558B;

}

.slick-slide {
    /* background-color: red; */
    padding: 10px;
}

/* .slick-next:active {
    color: #00558B;
}

.slick-prev:active {
    color: #00558B;
} */

