.slick-prev:before {
    top: -10px;
    position: absolute;
    font-size: 50px;
    right: 15px;
    color:  #3f9dfd;

}

.slick-next:before {
    top: -10px;
    position: absolute;
    font-size: 50px;
    left: 15px;
    color:  #3f9dfd;

}

.slick-slide {
    /* background-color: red; */
    padding: 10px;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: #0066cc;
}

