.container {
    background: linear-gradient(to left, #e3f2fd, #f8fbff);
}

.clinicBox {
    display: flex;
    align-items: center;
}

.clinicImage {
    width: 100px; 
    height: 100px; 
    border-radius: 30%; 
    margin-right: 20px;
}

.clinicTitle {
    text-decoration: none;
    color: #333;
}

.clinicAddress {
    color: #666;
}

.clinicDivider {
    margin-top: 10px;
}

.searchBar {
    padding: 10px;
    margin-bottom: 10px;
}

.searchIconButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
