.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.firstContent {
    margin-top: 20px;
    width: 80%;
    display: grid;
    grid-template-rows: 20% 80%;
}

.title1>div {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    text-align: left;
}

.content1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.content1>div {
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.content1>div>div {
    text-align: left;
    width: 100%;
}

.content1 img {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.content1>div:nth-child(n) img {
    width: 40%;
    height: auto;
}

.content1>div:nth-child(1) {

    background-color: #fff6ed;
}

.content1>div:nth-child(2) {
    background-color: #f0f9ff;
    grid-row: span 2;
    background-image: url('../../../../public/icon/simple-bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.content1>div:nth-child(3) {
    background-color: #effff4;
}

.content1>div:nth-child(4) {
    background-color: #ffe7e7;
}

.content1>div:nth-child(5) {
    display: none;
}

.content1>div:nth-child(6) {
    background-color: #f4e8ff;
    background-image: url('../../../../public/icon/doctor.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.secondContent {
    margin-top: 20px;
    width: 100%;
    background-image: url('../../../../public/icon/simple-bg2.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 55% 45%;
    background-color: #f0f9ff;
}

.stackedBoxesContainer {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stackedBoxesContainer>div {
    padding: 15px;
    height: 200px;
    border-radius: 8px;
}


.secImageBox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.secImageBoxContent {
    display: flex;
    flex-direction: column;
}

.secImageBox img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.thirdContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;           
    background-image: linear-gradient(to bottom, #f8f9fa, #e0f7fa);
    padding: 20px;          
    background-color: #fff;  
    border-radius: 8px;      
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center;     
    box-sizing: border-box;
  }
  
  .thirdContentHeader {
    font-size: 48px;      
    font-weight: 800;     
    margin-bottom: 20px; 
  }
  
  .thirdContent button {
    background-color: #00bfa5; 
    color: white;
    font-size: 18px; 
    padding: 12px 24px;   
    border: none;       
    border-radius: 5px;    
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  .thirdContent button:hover {
    background-color: #009688; 
  }